/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
  background: #202020;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Roboto Slab', serif;
}
html {
  font-size: 62.5%;
}
p {
  font-size: 1.6rem;
}
h3 {
  margin: 2px 0 2px 0;
  font-size: 1.2rem;
}
h2 {
  margin: 5px 0 5px 0;
  font-size: 2.4rem;
}
h1 {
  font-size: 4.8rem;
}
@media (max-width: 500px) {
  h1 {
    font-size: 2.8rem;
  }
}
h1,
h2,
h3 {
  color: #C192E9;
  font-family: 'Roboto', sans-serif;
}
a {
  color: #C192E9;
}
.navigation {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: #623A84;
  color: #C192E9;
  border-radius: 0px 0px 15px 15px;
}
.navigation * {
  background: inherit;
  color: inherit;
}
.navigation .logoText {
  font-family: 'Roboto', sans-serif;
}
.navigation .fa-hammer,
.navigation .logoText {
  text-decoration: none;
  font-size: 6.4rem;
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 500px) {
  .navigation .fa-hammer,
  .navigation .logoText {
    font-size: 4.2rem;
    margin: 5px 0;
  }
}
.navigation nav {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.navigation nav a {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  flex-grow: 1;
  height: 100%;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #C192E9;
  background: #150920;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
}
.navigation nav a:hover {
  color: #150920;
  background: #C192E9;
}
@media (max-width: 500px) {
  .navigation nav a {
    font-size: 1.6rem;
  }
}
@media (max-width: 500px) {
  .navigation nav {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .navigation {
    flex-flow: column nowrap;
  }
}
footer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 15px;
  margin: 15px 0 0 0;
  align-items: center;
  background: #150920;
  border-top: 2px solid #C192E9;
  align-self: flex-end;
  justify-self: flex-end;
}
footer * {
  background: inherit;
}
body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100vh;
}
body .main-content {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 2px solid #C192E9;
  width: 85%;
  max-width: 1140px;
}
@media (max-width: 500px) {
  body .main-content {
    width: 100%;
  }
}
body .main-content .promo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
body .main-content .promo div {
  padding: 20px;
}
@media (max-width: 500px) {
  body .main-content .promo div h2 {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
body .main-content .promo .banner {
  background-image: url("/img/eugen-str-CrhsIRY3JWY-unsplash.jpg");
  background-color: #c0c0c0;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 10px;
}
@media (max-width: 500px) {
  body .main-content .promo .banner {
    height: 200px;
  }
}
body .main-content .promo h1 {
  margin: 35px 0 15px 0;
}
@media (max-width: 500px) {
  body .main-content .promo h1 {
    padding: 0 20px;
  }
}
@media (max-width: 500px) {
  body .main-content .promo .center {
    width: 85%;
  }
}
body .main-content .promo .bigButton {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  padding: 0 20px;
  margin: 15px 0 0 0;
  border: 2px solid #623A84;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #C192E9;
  background: #150920;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
}
body .main-content .promo .bigButton:hover {
  color: #150920;
  background: #C192E9;
}
.hero {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.hero .about-banner {
  background-image: url("/img/zach-lucero-qAriosuB-lY-unsplash.jpg");
  background-color: #c0c0c0;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .hero .about-banner {
    height: 200px;
  }
}
.hero div {
  padding: 20px;
}
.hero h1 {
  margin: 35px 0 15px 0;
}
@media (max-width: 500px) {
  .hero h1 {
    padding: 0 20px;
  }
}
.main {
  margin-top: 35px;
  border-top: 2px solid #C192E9;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.main div {
  padding: 10px;
  width: 50%;
  border-right: 2px dashed #C192E9;
}
@media (max-width: 500px) {
  .main div {
    border-right: none;
    width: 100%;
  }
}
.main .last {
  border-right: none;
}
@media (max-width: 500px) {
  .main {
    flex-direction: column;
  }
}
.team {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 15px;
  border-top: 1px dashed #623A84;
  align-items: flex-start;
}
.team .personContainer {
  background: #150920;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  width: 48%;
  margin: 10px 0;
}
.team .personContainer h1 {
  background: #8A5DB0;
  color: #150920;
  padding: 5px;
  margin: 15px 0;
  border-radius: 5px;
}
.team .personContainer .personHalf {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.team .personContainer .personHalf img {
  border-radius: 50%;
  max-width: 50%;
  justify-content: center;
}
.team .personContainer .personHalf .infoContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 50%;
  padding: 15px;
}
@media (max-width: 500px) {
  .team .personContainer .personHalf .infoContainer {
    max-width: 100%;
  }
}
.team .personContainer .personHalf .infoContainer h2 {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .team .personContainer .personHalf img,
  .team .personContainer .personHalf p {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .team .personContainer .personHalf {
    flex-flow: column nowrap;
  }
}
.team .personContainer .buttonBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}
.team .personContainer .buttonBar i {
  font-size: 4.8rem;
}
.team .personContainer * {
  background: inherit;
}
@media (max-width: 500px) {
  .team .personContainer {
    width: 100%;
    flex-flow: column nowrap;
  }
}
