.hero{
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .about-banner{
        background-image: url("/img/zach-lucero-qAriosuB-lY-unsplash.jpg"); 
        background-color: #c0c0c0; 
        height: 500px;
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%; 
        border-radius: 10px;

        @media @mobile{
            height: 200px;
        }
    }

    div{
        padding: 20px;
    }

    h1{
        margin: 35px 0 15px 0;

        @media @mobile{
            padding: 0 20px;
        }
    }
}

.main{
    margin-top: 35px;
    border-top: 2px solid @white;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    div{
        padding: 10px;
        width: 50%;
        border-right: 2px dashed @white;

        @media @mobile{
            border-right: none;
            width: 100%;
        }

    }

    .last{
        border-right: none;
    }

    @media @mobile{
        flex-direction: column;
    }
}

.team{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 15px;
    border-top: 1px dashed @neutral;
    align-items: flex-start;

    .personContainer{
        background: @black;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 15px;
        border-radius: 15px;
        width: 48%;
        margin: 10px 0;

        h1{
            background: @light;
            color: @black;
            padding: 5px;
            margin: 15px 0;
            border-radius: 5px;
        }

        .personHalf{
            display: flex;
            flex-flow: row nowrap; 
            justify-content: space-between;
            align-items: center;
            img{
                border-radius: 50%;
                max-width: 50%;
                justify-content: center;
            }
            .infoContainer{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                max-width: 50%;
                padding: 15px;

                @media @mobile{
                    max-width: 100%;
                }

                h2{
                    display: flex;
                    justify-content: center;
                }
            }
            img, p{
                @media @mobile{
                    max-width: 100%;
                }
            }
            @media @mobile{
                flex-flow: column nowrap;
            }
        }

        .buttonBar{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            width: 100%;
            padding: 0;

            i{
                font-size: 4.8rem;
            }
        }

        *{
            background: inherit;
        }
        @media @mobile{
            width: 100%;
            flex-flow: column nowrap;
        }
    }
}